body{
	display:flex;
    flex-wrap:wrap;
    text-align:center;
    margin:auto;
    background-color: #1A535C;
}

button{
	background-color: #F7FFF7;
	width: 100px;
    height: 50px;
    font-size: 1.5em;
    font-family: 'Courier New';
    font-weight: bold;
	text-align: center;
}

/*#1A535C
#4ECDC4
#F7FFF7
#FF6B6B
#FFE66D*/

.box{
    text-align:center;
    margin:auto;
    background-color: #4ECDC4;
    border-radius: 10px;
    padding: 25px 15px 25px 15px;
    width: 500px;
    height: 400px;
}

.break{
	padding: 5px; 
}

#screen{
    height: 100px;
    width: 450px;
    font-size: 5em;
    font-family: 'Courier New';
    font-weight: bold;
	border-radius: 10px;
	padding: 5px;
	background-color: #F7FFF7;
}